@charset "utf-8";
@import url("reset.css");
/* CSS Document */
/*--------------------------------
    ヘッダー
---------------------------------*/

/*--------------------------------
    ナビ
---------------------------------*/

/*--------------------------------
    コンテンツ
---------------------------------*/
time {
	font-family:serif;
	font-style:italic;
	color:#666666;
}
/*--------------------------------
    サイドバー
---------------------------------*/
aside span {
	color:orange;
	font-weight:bold;
}
/*--------------------------------
    フッター
---------------------------------*/
