@charset "utf-8";
/* CSS Document */
#container {
	width:900px;
  display:-moz-flex;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
}
/*@‚±‚±‚©‚ç‰º‚Í•ÏX‚¹‚¸@*/
#contents {
	width:650px;
	background:#b1e1e3;
	-webkit-order:2;
	-ms-flex-order:2;
	order:2;
}
nav{
	width:250px;
	background:#f2f3b0;
	-webkit-order:1;
	-ms-flex-order:1;
	order:1;
}

