@charset "utf-8";
body{
	background-color:#fffaf0;
}
h1 {
  color: #ff9900;
  font-size: 1.8em;
	padding-bottom:10px;
	border-bottom:2px dotted #8b4513;
}
h2{
  color: #000099;
  font-size: 1.3em;
}
.doc{
  color: #330066;
  line-height: 1.5em;
}
#wrap{
  width: 900px;
}
#contents{
  padding-left: 30px;
}
