@charset "utf-8";
/* CSS Document Œ³‚Í‹ó*/
p.padding01{
	padding-top:30px;
	padding-right:40px;
	padding-bottom:50px;
	padding-left:60px;
	background-color:#99cccc;
}
p.padding02{
	padding:30px 40px 50px 60px;
	background-color:#99cccc;
}
p.margin01{
	margin-top:30px;
	margin-right:40px;
	margin-bottom:50px;
	margin-left:60px;
	background-color:#99cccc;
}
p.margin02{
	margin:30px 40px 50px 60px;
	background-color:#99cccc;
}
p.border01{
	/*border-top-style:dotted;
	border-top-width:5px;
	border-top-color:#ff4fa7;*/
	border-bottom:dotted 5px #ff4fa7;
}
p.border02{
	border-style:groove;
	border-width:7px;
	border-color:red orange pink purple;
}
p.border03{
	border:double 8px #66ff99;
}
p.border04{
	border:1px solid red;
	border-radius:15px;
}
p.border05{
	background:#ffcc00;
	/*border-bottom-right-radius:15px;*/
	border-radius:15px 0 15px 0;
	width:500px;
}
.shadow{
	box-shadow:5px 5px 5px #999;
}
