@charset "utf-8";
/* CSS Document å≥ÉfÅ[É^ÇÕãÛ*/
body{
	background-image:url(images/flower.jpg);
	background-color:#deeeed;
	background-repeat:no-repeat;
	background-position:right center;
	background-attachment:fixed;
}
div{
	background-color:#ffffff;
}
h1{
	background-color:#9abaac;
	color:#ffffff;
	padding:10px;
}
